.container {
  padding: 20px;
  background-color:blue

}

.alunos-button {
  margin-bottom: 20px;
}

.alunos-list {
  display: flex;
  flex-wrap: wrap;
}

.aluno-card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #0ce743;
}

.lateral {
  width: calc(50% - 10px);
  padding: 20px;
  border-left: 1px solid #ccc;
  align-items: center;
}

.lateral-card {
  margin-bottom: 20px;
  background-color:blue

}

.form-field {
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.h1 {
  color: #5f1616;
  text-align: center;
}